/* small
    max-width : 650px
 */

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  /* header */
  .header {
    width: 100%;
    height: auto;
  }

  .header__banner-bg {
    position: relative;
    top: 0;
    transform: none;
    width: auto;
    height: auto;
    padding: 0 15px;
    margin: 0 55px;
  }

  .header__banner-logo {
    margin-top: 48px;
    padding-top: 50px;
  }

  .header__banner-logo__2 {
    max-width: 510px;
    margin-bottom: 75px;
  }

  .header__banner-register {
    position: initial;
    max-width: none;
  }

  .header__banner-button {
    margin-left: 0;
    padding-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .header__banner-btn {
    margin: 4px 10px;
    width: 220px;
  }

  .header__banner-btn:last-child {
    margin-bottom: 10px;
  }

  /* Container */
  /* Container About */
  .container__about {
    padding: 24px 15px;
    margin: 0 15px;
  }

  .container__about-title {
    margin: 0 auto 16px;
    padding-bottom: 16px;
  }

  .container__about-space {
    display: none;
  }

  /* Container Overview */
  .container__overview-content {
    display: inline-block;
  }

  .container__overview-content__info {
    padding: 0 15px;
    margin: 0 15px;
  }

  .container__overview-content__info-title {
    margin-bottom: 8px;
  }

  .container__overview-content__info-space {
    display: none;
  }

  .container__overview-content__info-list {
    padding-left: 10px;
  }

  /* Container Position */
  .container__position-content {
    display: inline-block;
  }

  .container__position-content__img {
    text-align: center;
  }

  .container__position-content__info {
    padding: 0 15px;
  }

  .container__position-content__info-title {
    margin-bottom: 8px;
  }

  .container__position-content__info-space {
    display: none;
  }

  .container__position-content__info-list {
    padding-left: 40px;
  }

  /* Container Relax */
  .container__relax-info {
    padding: 0 15px;
    margin: 0 15px;
  }

  .container__relax-info > div {
    margin: 0;
    padding: 0;
  }

  .container__relax-title {
    padding-top: 30px;
    margin-bottom: 8px;
  }

  .container__relax-space {
    display: none;
  }

  .container__relax-subtitle {
    padding: 0;
  }

  .container__relax-list {
    padding: 0;
  }

  .container__relax-carousel {
    width: 100%;
  }

  .container__relax-carousel .swiper {
    width: 80%;
  }

  .container__relax-button__next {
    right: 2%;
  }

  .container__relax-button__prev {
    left: 2%;
  }

  .container__relax-gallery {
    display: none;
  }

  /* Container Future Area */

  .container__future-area {
    width: 100%;
  }

  .container__future-area__info {
    /* padding: 0 15px;
    margin: 0 55px; */
    width: 100%;
  }

  .container__future-area__space {
    display: none;
  }

  .container__future-area__list {
    margin-left: 0;
    padding: 0 55px;
    /* margin: 0 15px; */
  }

  .container__future-area__item {
    margin-left: 0;
    padding: 0;
  }

  .container__future-area__imgs {
    width: 85%;
    display: flex;
    flex-direction: column;
  }

  /* Container Design */
  .container__design-info {
    padding: 0 30px;
  }

  .container__design-info > div {
    margin: 0;
    padding: 0;
  }

  .container__design-title {
    margin-bottom: 8px;
  }

  .container__design-space {
    display: none;
  }

  .container__design-carousel {
    width: 100%;
  }

  .container__design-carousel .swiper {
    width: 80%;
  }

  .container__design-button__next {
    right: 1%;
  }

  .container__design-button__prev {
    left: 1%;
  }

  .container__design-gallery {
    display: none;
  }

  /* Container Law */
  .container__law-info {
    width: 100%;
    margin: 0 15px;
  }

  .container__law-carousel {
    width: 100%;
  }

  .container__law-carousel .swiper {
    width: 80%;
  }

  .container__law-card__content-image {
    max-width: none;
  }

  .container__carousel-button__next {
    right: 1%;
  }

  .container__carousel-button__prev {
    left: 1%;
  }
  .container__law-gallery {
    display: none;
  }

  /* Container Why */
  .container__why-info {
    width: 100%;
    padding: 0 30px;
  }

  .container__why-space {
    display: none;
  }

  .container__why-imgs {
    flex-direction: column;
  }

  .container__why-img {
    max-width: none;
  }

  /* Footer */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .footer__img {
    max-width: none;
    width: 200px;
    padding-top: 20px;
  }

  .footer__img-info {
    padding: 10px;
    margin: 0 0 60px 8px;
  }

  .footer__img-info__title {
    text-align: center;
  }
}

/* medium
    min-width: 651 and max-width: 980
  */

/* large 
    min-width: 981
  */

/* @media screen and (min-width: 981px) and (max-width: 1200px) {
  .header {
    width: 100%;
    height: auto;
  }

  .header__banner-bg {
    position: relative;
    top: 0;
    transform: none;
    width: auto;
    height: auto;
    padding: 0 15px;
    margin: 0 55px;
  }

  .header__banner-logo {
    margin-top: 48px;
    padding-top: 50px;
  }

  .header__banner-logo__2 {
    max-width: 510px;
    margin-bottom: 75px;
  }

  .header__banner-register {
    position: initial;
    max-width: none;
  }

  .header__banner-button {
    margin-left: 0;
    padding-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .header__banner-btn {
    margin: 4px 10px;
    width: 220px;
  }

  .header__banner-btn:last-child {
    margin-bottom: 10px;
  }
} */
