@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

:root {
  --header-color: linear-gradient(
    95deg,
    rgba(189, 142, 46, 1) 0%,
    rgba(170, 126, 16, 1) 12%,
    rgba(238, 212, 123, 1) 33%,
    rgba(255, 232, 155, 1) 51%,
    rgba(238, 212, 123, 1) 61%,
    rgba(170, 126, 16, 1) 86%,
    rgba(194, 149, 53, 1) 100%
  );
}

a {
  text-align: none;
}

img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Header */
.header {
  width: 100%;
  height: 100vh;
}

.header__banner {
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.header__banner-bg {
  position: absolute;
  top: 100px;
  transform: translateX(-10%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__banner-logo {
  width: 250px;
  margin-bottom: 25px;
}

.header__banner-logo__2 {
  max-width: 730px;
  margin-bottom: 100px;
}

.header__banner-button {
  margin-left: 30%;
}

.header__banner-btn {
  width: 250px;
  height: 65px;
  box-shadow: 0.5px 0.5px 10px #000000;
  text-shadow: 1px 1px 4px #000000;
  color: #fff;
  padding: 10px;
  margin: 0 10px;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-image: var(--header-color);
  text-transform: uppercase;
}

.header__banner-register {
  background-color: #10823e;
  box-shadow: 0 1px 13px rgb(0 0 0 / 63%);
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  right: -8%;
}

.header__banner-title {
  color: #fff;
  font-size: 1rem;
  margin: 25px 0;
  font-weight: bold;
  text-align: center;
}

.header__banner-form {
  padding: 0 25px 0px 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__banner-form input {
  font-size: 1rem;
  color: #666;
  padding: 6px 12px;
  margin-bottom: 12px;
  height: 45px;
}

.header__banner-register__btn {
  height: 34px;
  font-size: 1rem;
  color: #666;
  padding: 6px 12px;
  width: 50%;
  margin: 12px 25px 24px;
  color: #10823e;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Container */
.container {
  width: 100%;
}

/* Container About */

.container__about {
  max-width: 1200px;
  margin: auto;
  padding: 24px 0;
}

.container__about-title {
  color: #10823e;
  font-size: 1.5rem;
  padding-bottom: 16px;
  text-align: center;
  text-transform: uppercase;
}

.container__about-space {
  display: block;
  background-color: #3aa284;
  width: 40%;
  height: 1px;
  margin: 0 auto 16px;
}

.container__about-content {
  text-align: justify;
  width: 100%;
  color: #666;
  font-size: 1.2rem;
  padding: 0 10px 32px;
  letter-spacing: 1;
  line-height: 2rem;
}

.container__about-btn {
  display: block;
  margin: auto;
  background-color: red;
  color: yellow;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid #acc427fa;
  border-radius: 10px;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container__about-btn:hover {
  color: #000;
  background-color: yellowcard__content-image;
}

/* Container Overview */
.container__overview {
  background-image: url(../img/bg-overview.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.container__overview-content {
  padding: 48px 0;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.container__overview-content__img {
  max-width: 940px;
  margin: auto;
}
.container__overview-content__info {
  padding-left: 24px;
}
.container__overview-content__info-title {
  font-size: 1.5rem;
  color: #edce67;
  background: linear-gradient(
    112deg,
    rgba(183, 128, 18, 1) 0%,
    rgba(255, 243, 165, 1) 46%,
    rgba(190, 138, 31, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__overview-content__info-space {
  display: block;
  width: 40%;
  height: 2px;
  background-color: #edce67;
  margin: 8px;
}
.container__overview-content__info-list {
  list-style-image: url(../img/li-bullet-gold.png);
  /* padding-left: 30px; */
}
.container__overview-content__info-item {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-left: 20px;
  margin-bottom: 15px;
}

.container__overview-content__info-item strong {
  font-size: 1rem;
  line-height: 1.5rem;
}

.container__overview-content__info-item p {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 10px;
}

/* Container Position */
.container__position-content {
  padding-top: 48px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.container__position-content__img {
  width: 100%;
  max-height: 856px;
  text-align: right;
  margin-right: 8px;
}

.container__position-content__img img {
  max-width: 772px;
}

.container__position-content__info {
  padding: 8px 16px 0 24px;
}

.container__position-content__info-title {
  color: #10823e;
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
}

.container__position-content__info-space {
  display: block;
  width: 80%;
  height: 2px;
  background-image: var(--header-color);
  margin: 4px auto 8px;
}

.container__position-content__info-subtitle {
  color: #606060;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.5;
  text-align: justify;
}

.container__position-content__info-list {
  margin-top: 24px;
  list-style-image: url(../img/li-bullet.png);
  padding-left: 25px;
}

.container__position-content__info-item {
  color: #606060;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.5;
  margin-bottom: 24px;
}

.container__position-content__info-item:nth-child(5) {
  margin-top: 48px;
}

/* Container Relax */

.container__relax {
  position: relative;
}

.container__relax-content {
  width: 100%;
  background-image: url(../img/bg-in-area.jpg);
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__relax-info {
  max-width: 1200px;
  margin: auto;
}

.container__relax-info > div {
  margin: 0 95px;
  padding: 50px 15px 0;
}

.container__relax-title {
  text-align: center;
  font-size: 2rem;
  color: #edce67;
  background: linear-gradient(
    112deg,
    rgba(183, 128, 18, 1) 0%,
    rgba(255, 243, 165, 1) 46%,
    rgba(190, 138, 31, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container__relax-space {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #edce67;
  margin-bottom: 25px;
}

.container__relax-subtitle {
  color: #fff;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 1px;
  padding: 0 16px;
  text-align: justify;
}

.container__relax-list {
  list-style-image: url(../img/li-bullet-gold.png);
  padding-left: 16px;
}

.container__relax-list > p {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: justify;
}

.container__relax-item {
  margin-left: 40px;
  padding: 8px 0;
  align-items: center;
}

.container__relax-item__subtitle {
  font-size: 1rem;
  color: #fff;
}

.container__relax-carousel {
  position: relative;
  margin: 20px auto;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper {
  width: 100%;
  margin: 0 auto;
}

.container_carousel-1 {
  position: relative;
}

.content {
  height: 100%;
}

.card {
  /* padding: 0 8px; */
  margin: auto;
}

.container__relax-card__content-image {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__relax-card__content-image:hover img {
  transform: scale(1.5);
}

.container__relax-card__content-image img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: all 0.4s ease;
  position: relative;
}

.container__relax-card__content-image__icon {
  border-radius: 50%;
  font-size: 3rem;
  color: #35ac39;
  background-color: #fff;
  position: absolute;
  top: -100%;
  opacity: 0.5;
  transition: all 0.9s ease;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.container__relax-card__content-image__icon:hover {
  color: #ff3366;
  background-color: #fff;
}

.container__relax-card__content-image:hover
  .container__relax-card__content-image__icon {
  opacity: 1;
  top: 50%;
}

.container__relax-button__next,
.container__relax-button__prev {
  opacity: 0.7;
}

.container__relax-button__prev {
  width: 25px;
  position: absolute;
  left: -5%;
}

.container__relax-button__next {
  width: 25px;
  position: absolute;
  right: -5%;
}

.container__relax-button__next:hover,
.container__relax-button__prev:hover {
  opacity: 1;
}

.container__relax-button__next:after,
.swiper-rtl .container__relax-button__prev:after {
  content: "";
}

.container__relax-button__prev:after,
.swiper-rtl .container__relax-button__next:after {
  content: "";
}

.container__relax-btn {
  margin-bottom: 50px;
  font-size: 1.2rem;
  padding: 10px 50px;
  background-color: red;
  color: yellow;
  border: 1px solid yellow;
  font-weight: bold;
  border-radius: 20px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.container__relax-btn:hover {
  color: #000;
  background-color: #e9bc3d;
}

.container__relax-gallery {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: 0.4s;
}

.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.hide {
  display: none;
}

.container__relax-gallery__icon {
  position: fixed;
  top: 15px;
  right: 25px;
  color: #fff;
  opacity: 0.7;
  font-size: 50px;
  cursor: pointer;
}

.container__relax-gallery__icon:hover {
  opacity: 1;
}

.container__relax-gallery__inner {
  width: 30%;
  height: 30%;
  margin: 0 auto;
}

.container__relax-gallery__control-left,
.container__relax-gallery__control-right {
  position: absolute;
  font-size: 100px;
  color: #fff;
  opacity: 0.7;
}

.container__relax-gallery__control-left:hover,
.container__relax-gallery__control-right:hover {
  opacity: 1;
}

.container__relax-gallery__control-left {
  left: 15px;
}

.container__relax-gallery__control-right {
  right: 15px;
}

/* Container Future-area */
.container__future-area {
  width: 100%;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
}
.container__future-area__info {
  width: 1200px;
  margin: 0 auto;
}
.container__future-area__title {
  color: #10823e;
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
}
.container__future-area__space {
  display: block;
  width: 80%;
  height: 2px;
  background-image: var(--header-color);
  margin: 4px auto 8px;
}
.container__future-area__list {
  padding: 0 15px;
  margin-left: 95px;
  list-style-image: url(../img/li-bullet.png);
}
.container__future-area__item {
  margin-left: 50px;
  padding: 8px 0;
}
.container__future-area__item__subtitle {
  color: #606060;
  font-size: 1rem;
  line-height: 2rem;
}

.container__future-area__imgs {
  width: 1200px;
  margin: 24px auto 0;
  padding: 15px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 1px 8px rgb(16 14 14 / 44%);
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
}

.container__future-area__img {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.container__future-area__img-title {
  width: 100%;
  background-color: #10823e;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
}

/* Container Design */

.container__design {
  width: 100%;
}

.container__design-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
}

.container__design-info {
  max-width: 1200px;
  margin: 0 auto;
}

.container__design-info > div {
  margin: 0 95px;
  padding: 50px 15px 0;
}

.container__design-title {
  text-align: center;
  font-size: 2rem;
  color: #20823e;
}

.container__design-space {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 2px;
  background-color: #20823e;
  margin-bottom: 25px;
}

.container__design-subtitle {
  color: #606060;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 1px;
  padding: 0 16px;
  text-align: justify;
}

.container__design-list {
  list-style-image: url(../img/li-bullet.png);
  padding-left: 16px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.container__design-list > p {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: justify;
}

.container__design-item {
  margin-left: 40px;
  padding: 8px 0;
  align-items: center;
}

.container__design-item__subtitle {
  font-size: 1rem;
  color: #606060;
}

.container__design-carousel {
  position: relative;
  margin: 15px 0;
  width: 1200px;
  display: flex;
  align-items: center;
}

.swiper {
  max-width: 1200px;
  margin: 0 auto;
}

.container__carousel-2 {
  position: relative;
}

.content {
  width: 100%;
}

.card {
  /* padding: 0 8px; */
  margin: auto;
}

.container__design-card__content-image {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__design-card__content-image:hover img {
  transform: scale(1.5);
}

.container__design-card__content-image img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: all 0.4s ease;
  position: relative;
}

.container__design-card__content-image__icon {
  border-radius: 50%;
  font-size: 3rem;
  color: #35ac39;
  background-color: #fff;
  position: absolute;
  top: -100%;
  opacity: 0.5;
  transition: all 0.9s ease;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.container__design-card__content-image__icon:hover {
  color: #ff3366;
  background-color: #fff;
}

.container__design-card__content-image:hover
  .container__design-card__content-image__icon {
  opacity: 1;
  top: 50%;
}

.container__design-button__next,
.container__design-button__prev {
  opacity: 0.7;
}

.container__design-button__prev {
  position: absolute;
  left: -5%;
  width: 25px;
}

.container__design-button__next {
  position: absolute;
  right: -5%;
  width: 25px;
}

.container__design-button__next:hover,
.container__design-button__prev:hover {
  opacity: 1;
}

.container__design-button__next:after,
.swiper-rtl .container__design-button__prev:after {
  content: "";
}

.container__design-button__prev:after,
.swiper-rtl .container__design-button__next:after {
  content: "";
}

.container__design-btn {
  margin-bottom: 50px;
  font-size: 1.2rem;
  padding: 10px 50px;
  background-color: red;
  color: yellow;
  border: 1px solid yellow;
  font-weight: bold;
  border-radius: 20px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.container__design-btn:hover {
  color: #000;
  background-color: #e9bc3d;
}

.container__design-gallery {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  opacity: 0;
  overflow-y: hidden;
  pointer-events: none;
  transform: scale(0.8);
  transition: 0.4s;
}

.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.hide {
  display: none;
}

.container__design-gallery__icon {
  position: fixed;
  top: 15px;
  right: 25px;
  color: #fff;
  opacity: 0.7;
  font-size: 50px;
  cursor: pointer;
}

.container__design-gallery__icon:hover {
  opacity: 1;
}

.container__design-gallery__inner {
  display: flex;
  align-items: center;
  width: 70%;
  height: 70%;
  margin: 0 auto;
}

.container__design-gallery__control-left,
.container__design-gallery__control-right {
  position: absolute;
  font-size: 100px;
  color: #fff;
  opacity: 0.7;
}

.container__design-gallery__control-left:hover,
.container__design-gallery__control-right:hover {
  opacity: 1;
}

.container__design-gallery__control-left {
  left: 15px;
}

.container__design-gallery__control-right {
  right: 15px;
}

/* Container Law */

.container__law {
  position: relative;
}

.container__law-content {
  width: 100%;
  background-image: url(../img/bg-in-area.jpg);
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__law-info {
  width: 1200px;
  max-width: 1200px;
  margin: auto;
}

.container__law-info > div {
  margin: 0 95px;
  padding: 50px 15px 0;
}

.container__law-title {
  text-align: center;
  font-size: 2rem;
  color: #edce67;
  background: linear-gradient(
    112deg,
    rgba(183, 128, 18, 1) 0%,
    rgba(255, 243, 165, 1) 46%,
    rgba(190, 138, 31, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container__law-space {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #edce67;
  margin-bottom: 25px;
}

.container__law-carousel {
  position: relative;
  margin: 15px 0;
  width: 1200px;
  display: flex;
  align-items: center;
}

.swiper {
  max-width: 1200px;
  margin: 0 auto;
}

.container__carousel-3 {
  position: relative;
}

.content {
  height: 100%;
}

.card {
  /* padding: 0 8px; */
  margin: auto;
}

.container__law-card__content-image {
  height: 100%;
  max-width: 360px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__law-card__content-image:hover img {
  transform: scale(1.5);
}

.container__law-card__content-image img {
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
  position: relative;
}

.container__law-card__content-image__icon {
  border-radius: 50%;
  font-size: 3rem;
  color: #35ac39;
  background-color: #fff;
  position: absolute;
  top: -100%;
  opacity: 0.5;
  transition: all 0.9s ease;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.container__law-card__content-image__icon:hover {
  color: #ff3366;
  background-color: #fff;
}

.container__law-card__content-image:hover
  .container__law-card__content-image__icon {
  opacity: 1;
  top: 50%;
}

.container__carousel-button__next,
.container__carousel-button__prev {
  opacity: 0.7;
}

.container__carousel-button__prev {
  position: absolute;
  left: -7%;
  width: 25px;
}

.container__carousel-button__next {
  position: absolute;
  right: -5%;
  width: 25px;
}

.container__carousel-button__next:hover,
.container__carousel-button__prev:hover {
  opacity: 1;
}

.container__carousel-button__next:after,
.swiper-rtl .container__carousel-button__prev:after {
  content: "";
}

.container__carousel-button__prev:after,
.swiper-rtl .container__carousel-button__next:after {
  content: "";
}

.container__law-gallery {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: 0.4s;
}

.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.hide {
  display: none;
}

.container__law-gallery__icon {
  position: fixed;
  top: 15px;
  right: 25px;
  color: #fff;
  opacity: 0.7;
  font-size: 50px;
  cursor: pointer;
}

.container__law-gallery__icon:hover {
  opacity: 1;
}

.container__law-gallery__inner {
  /* width: 30%;
  height: 30%; */
  margin: 0 auto;
}

.container__law-gallery__control-left,
.container__law-gallery__control-right {
  position: absolute;
  font-size: 100px;
  color: #fff;
  opacity: 0.7;
}

.container__law-gallery__control-left:hover,
.container__law-gallery__control-right:hover {
  opacity: 1;
}

.container__law-gallery__control-left {
  left: 15px;
}

.container__law-gallery__control-right {
  right: 15px;
}

/* Container Payments */
.container__payments {
  display: flex;
  flex-direction: column;
}

.container__payments-img {
  width: 100%;
  height: 100%;
}

.container__payments-img img {
  vertical-align: middle;
  height: 100%;
}

/* Container Why */

.container__why {
  margin: 24px 0 16px;
  display: flex;
  flex-direction: column;
}
.container__why-info {
  width: 1200px;
  margin: 0 auto;
}
.container__why-title {
  color: #10823e;
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
}
.container__why-space {
  display: block;
  width: 80%;
  height: 1px;
  background-color: #10823e;
  margin: 0px auto 8px;
}
.container__why-item__subtitle {
  color: #666;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 16px;
}

.container__why-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.container__why-img {
  max-width: 380px;
  padding: 0 15px;
}

/* Footer */
.footer {
  width: 100%;
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.footer__img {
  max-width: 350px;
  margin: auto;
  padding: 0 15px;
}

.footer__img-info {
  padding: 24px 60px 24px 8px;
}

.footer__img-info__title {
  color: #fff;
  font-size: 1rem;
  line-height: 2rem;
}
